@model MvcInternetShop.ViewModels.Test.CityDrpViewModel

@Html.LabelFor(model => model.Reseller.CityId, new { @class = "label" })
<div class="controls">
    @Html.DropDownListFor(model => model.Reseller.CityId, new SelectList(Model.Cities, "Id", "Name"), "شهر نمایندگی را انتخاب کنید")
    @Html.ValidationMessageFor(model => model.Reseller.CityId)
</div>